# Streamlit Interface
streamlit
python-dotenv==1.0.1
pandas

# Core LLM / LangChain
langchain
langchain-core
langchain-community
langchain-chroma

# Vector Store
chromadb==0.4.14
pysqlite3-binary 

# Embeddings
sentence-transformers
numpy
scikit-learn
tqdm

# Document Loaders
pypdf
python-docx
docx2txt
pymupdf


# Gemini + Tokenization
google-generativeai
tiktoken











